body {
  margin: 0px 0px;
}

#navbar {
  display: flex;
  position: fixed;
  justify-content: center;
  top: 0;
  width: 100%;
  background-color: rgb(11, 12, 14);
  z-index: 2;
}
ul {
  padding-top: 10px;
  list-style: none;
  display: flex;
}
a {
  font-size: 24px;
  text-decoration: none;
  padding: 0 10vw;
  color: white;
}
a:hover {
  color: #080805;
}

main {
  margin: 0px 0px;
  position: relative;
  text-align: center;
  color: white;
  overflow: hidden;
}
img {
  margin-top: 60px;
  width: 100vw;
  max-height: 100vh;
}
h1 {
  margin: 80px 0px;
  font-size: 48px;
}
p {
  font-size: 32px;
  line-height: 40px;
  width: 45vw;
}
section {
  padding-top: 200px;
}
.art {
  width: 40vw;
  position: absolute;
  top: 37%;
  left: 78%;
  transform: translate(-50%, -50%);
}
.text {
  position: absolute;
  top: 32%;
  left: 30%;
  transform: translate(-50%, -50%);
  float: left;
}
@media (max-width: 600px) {
  a {
    font-size: 18px;
    padding: 0 5vw;
  }
  .bg {
    margin-left: -470px;
    height: 90vh;
    width: auto;
  }
  h1 {
    margin: 40px 0px;
    font-size: 26px;
  }
  p {
    font-size: 18px;
    line-height: 30px;
    width: 75vw;
  }
  .text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .art {
    width: 70vw;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
